@font-face{
    font-family: Zopacyr;
    src:url(../fonts/zopacyr.ttf);
    src:url(../fonts/zopacyr.eot);
}
   
@font-face{
    font-family: Zopacyr;
    src:url(../fonts/zopacyr.otf);
    src:url(../fonts/zopacyr.woff);
}